.ContainerColumn {
    display: flex;
    /*width: 100vw;*/
    height: 98vh;
    margin: 0;
}

.AppClass {
    flex: 1; /* Smaller portion of the space */
    /*height: 98vh;*/
}

.RightColumn {
    flex: 4; /* Larger portion of the space */
    flex-direction: column; /* Stack children vertically */
}

.Navbar {
    flex: 1;
}

.Dynamic {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%; /* Take full width of parent */
    height: 80%; /* Take full height of parent */
}


