.ContainerColumn {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.AppClass {
    flex: 1; /* Smaller portion of the space */
}

.RightColumn {
    flex: 4; /* Larger portion of the space */
    flex-direction: column; /* Stack children vertically */
}

.Navbar {
    flex: 1;
}

.Dynamic {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%; /* Take full width of parent */
    height: 80%; /* Take full height of parent */
}

.Calendar {
    width: 100%; /* Take full width of parent */
    height: 100%; /* Take full height of parent */
    padding-left: 20px;
    padding-top: 20px;
}

.Calendar iframe {
    width: 100%; /* Make iframe responsive */
    height: 100%; /* Adjust height as needed */
    border: none; /* Remove default border */
    opacity: 100%;
}

h1 {
    margin: 0;
}