.ContainerColumn {
    display: flex;
    /*width: 100vw;*/
    height: 98vh;
    margin: 0;
}

.AppClass {
    flex: 1; /* Smaller portion of the space */
    /*height: 98vh;*/
}

.RightColumn {
    flex: 4; /* Larger portion of the space */
    flex-direction: column; /* Stack children vertically */
}

.Navbar {
    flex: 1;
}

.Dynamic {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%; /* Ensure it takes full width */
    /*height: 100%; !* Ensure it takes full height *!*/
}

.Calendar {
    width: auto; /* Allow the child to size itself dynamically */
    height: auto; /* Allow the child to size itself dynamically */
    display: flex; /* Optional: For flexibility inside Calendar */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
