.header-container {
    width: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .quote-header {
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .quote-text {
    font-size: 2rem; /* Big text size */
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  .logo {
    width: 50px; 
    height: 50px;
  }
  
  .navbar-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
  }
  
  .navbar-tab {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-icon {
    width: 20px;
    height: auto;
  }
  
  .navbar-tab:hover {
    background-color: #555;
    border-radius: 5px;
  }
